.flights-info-container {
  flex: 1;
  text-align: auto;
}

.flights-info-container .card{
  margin: 10px;
  border-radius: 10px;
z-index: 1;
position: flex;
backdrop-filter: blur(10px);
border: 2px solid transparent;
background-clip: border-box;
cursor: pointer;
}


