.collection img {
  border-radius: 4px;
  background: #f5f5f5;
  color: #bd2626;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  filter: grayscale(100%);
  transition: 0.5s;
}
.collection img:hover {
  filter: grayscale(0);
}

  .thumbnail-slider-wrap {
    margin-top: 15px;
    height: 85px;
  }
  .thumbnail-slider-wrap .slick-track .slick-slide {
    text-align: center;
  }
  .thumbnail-slider-wrap .slick-track .slick-slide img {
    width: 70%;
  }
  .slider-wrapper {
    width: 760px;
    margin: auto;
  }
  .slick-slide {
    text-align: center;
    position: relative;
  }
  .slick-slide:focus {
    outline: none;
  }
  .slick-slide-title {
    text-transform: capitalize;
  }
  .slick-slide-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
      0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  }
  .slick-slide-label {
    color: #fff;
    padding: 10px;
   
    left: 0px;
    font-size: 1.5em;
    bottom: 0px;
    width: 100%;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #777777;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 15px;
  }
  
  .container img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 100ms ease-out;
  }
  
  .container img:hover {
    transform: scale(1.04);
  }
 
  .galleryheader {
    color: var(--dark-green);
    text-align: center;
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    width: 80%;
    @media screen and (max-width: 1150px) {
        font-size: 1.8rem;
        width: 90%;
    }
    @media screen and (max-width: 875px) {
        width: 100%;
    }
    @media screen and (max-width: 768px) {
        font-size: 1.8rem;
    }
    @media screen and (max-width: 425px) {
        font-size: 1.3rem;
    }
}
.sectionsa{
  margin-top: 6rem;
  position: relative;
  display: flex;
  justify-content: center;
}

