.single{
    display: flex;
}

.primary-btn {
    padding: 10px 20px;
    background-color: #3086a8;
    color: white;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;};

    .primary-btn:hover {
        background-color: #000;
        color: white;}

        
.row {
    width: 50%;
  }
  .top {
    margin-top: 100px;
  }
  .mtop {
    margin-top: 50px;
  }
  .full_container {
    max-width: 95%;
    margin: auto;
  }
  .main-content {
    width: 70%;
  }
  .side-content {
    width: 30%;
    margin-left: 40px;
  }