.image-heading {
 
 
  top: 0;
 

  color: #fff;
  height: 25vh;


}
.image-heading .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.image-heading::after {
  content: "";
  position: absolute;
  background-image: url("../../../assets/building2.jpg");
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  height: 35%;
  width: 100%;

}
.image-heading h1 {
  font-size: 40px;
  text-transform: capitalize;
}
.image-heading button {
  background: black;
  color: white;
  font-weight: 400;
  padding: 15px 30px;
  word-spacing: 5px;
}
.image-heading a {
  color: #17689e;
  cursor: pointer;
}
.image-heading span {
  text-transform: capitalize;
  word-spacing: 30px;
}
